[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
urllib3 = "*"
beautifulsoup4 = "*"
psycopg2 = "*"
numpy = "*"
pandas = "*"
socialreaper = "*"

[requires]
python_version = "3.7"
